<%- include('partials/header_start') -%>
<%- include('partials/titles/title_home') -%>
<%- include('partials/header_end') -%>
<%- include('partials/nav-logged-out') -%>

<div class="intersection">
    <div class="inter-left">
        <div class="vertical-center">
            <h2>VinylBank</h2>
            <p>
                Die VinylBank hilft Ihnen dabei den Überblick über Ihre BluRay-, DVD-, CD- und Vinyl-Sammlung zu behalten.<br />
                In intuitiven Tabellen können Sie Ihre Sammlungen eintragen und sich jederzeit anzeigen lassen.
            </p>
        </div>
    </div>
    <div class="inter-right">
        <div class="vertical-center">
            <img class="scale-300" src="/img/collection.svg" alt="Image">
        </div>
    </div>
</div>

<div class="shape-wrapper">
    <div class="custom-shape-divider-bottom-1604254779">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="intersection blue">
    <div class="inter-left">
        <div class="vertical-center">
            <h2>Detailanzeige</h2>
            <p>
                Mit einem Klick auf einen Eintrag können Sie sich alle verfügbaren Informationen anzeigen lassen.
            </p>
        </div>
    </div>
    <div class="inter-right">
        <div class="vertical-center">
            <img class="scale-400" src="/img/details.svg" alt="Image">
        </div>
    </div>
</div>

<div class="shape-wrapper">
    <div class="custom-shape-divider-top-1604254282">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="intersection">
    <div class="inter-left">
        <div class="vertical-center">
            <h2>Suchfunktion</h2>
            <p>
                Eine einfache Suche hilft Ihnen Ihr Ziel schnell zu finden.<br />
                Durchsuchen Sie Ihre Sammlungen einzelnd oder alle zusammen.
            </p>
        </div>
    </div>
    <div class="inter-right">
        <div class="vertical-center">
            <img class="scale-300" src="/img/search.svg" alt="Image">
        </div>
    </div>
</div>

<div class="shape-wrapper">
    <div class="custom-shape-divider-bottom-1604254779">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="intersection blue">
    <div class="inter-left">
        <div class="vertical-center">
            <h2>Export</h2>
            <p>
                Exportieren Sie Ihre gesammelten Daten mit nur einem Klick als PDF oder Excel Datei.
            </p>
        </div>
    </div>
    <div class="inter-right">
        <div class="vertical-center">
            <img class="scale-400" src="/img/export.svg" alt="Image">
        </div>
    </div>
</div>

<div class="shape-wrapper">
    <div class="custom-shape-divider-top-1604254282">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="intersection">
    <div class="inter-left">
        <div class="vertical-center">
            <h2>Entspannt von überall</h2>
            <p>
                Solange Sie eine Internetverbindung haben, können Sie von überall aus auf ihre Daten zugreifen.
            </p>
        </div>
    </div>
    <div class="inter-right">
        <div class="vertical-center">
            <img class="scale-400" src="/img/relax.svg" alt="Image">
        </div>
    </div>
</div>

<div class="shape-wrapper">
    <div class="custom-shape-divider-bottom-1604254779">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="intersection blue">
    <div class="inter-left">
        <div class="vertical-center">
            <h2>Verleihen</h2>
            <p>
                Wenn Sie eine BluRay, DVD, CD oder Vinyl-Platte verliehen haben, können Sie dies eintragen und den Überblick behalten.
            </p>
        </div>
    </div>
    <div class="inter-right">
        <div class="vertical-center">
            <img class="scale-300" src="/img/lend.svg" alt="Image">
        </div>
    </div>
</div>

<div class="shape-wrapper">
    <div class="custom-shape-divider-top-1604254282">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="intersection">
    <div class="inter-left">
        <div class="vertical-center">
            <h2>Mitmachen</h2>
            <p>
                Treten Sie heute noch bei und lassen Sie die schweren Zeiten des manuellen Suchens und Verwaltens hinter sich.<br />
                <a class="hyperlink blue no-underline" href="/?login=true"><i class="fas fa-hand-pointer"></i> Jetzt mitmachen</i></a>
            </p>
        </div>
    </div>
    <div class="inter-right">
        <div class="vertical-center">
            <img class="scale-250" src="/img/login.svg" alt="Image">
        </div>
    </div>
</div>

<!-- Modals -->
<div id="modals"></div>
</main>
</body>

<%- include('partials/footer') -%>
